body {
  background: white;
}

h1 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-align: center;
}

div.main {
    margin: 0em 1em;
    display: flex;
    justify-content: center;
}

div.content {
    margin: 0em;
    width: 95%;
}

div.ActualValues {
    display: flex;
    justify-content: center;
}

div.ActualValues table {
    width: 39em;
}

td.actVal {
    text-align: right;
    padding-right: 1em;
}

table.temphumcanvas, table.pressurecanvas {
    width: 100%;
}

.humtemp td {
    padding: 1em;
    width: 50%;
}

.humtemp canvas, .pressure canvas {
    width: 100%;
}

.humtemp img {
    width: 100%;
}

.pressure td {
    width: 50%;
    padding: 1em;
}

.pressure img {
    width: 100%;
}
